doctype html
html 
  head
    title  Mini message board
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    h1  #{title} 
    a(href='/new')
      input(type='submit', value='Send a Message!')
    h1 Messages
    each msg in messages 
      div(class='message-card')
        p Text: #{msg.text} 
        p User: #{msg.user} 
        p Added: #{msg.added}

      