doctype html
html 
  head
    title  Mini message board
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    h1  #{title} 
    p this is a paragraph 
      a(href= 'http://www.theodinproject.com') this is the link text
    
    div
      form(action='/', method='POST')
        label(for='ourid', ) Name 
        input(name= 'ourname', type='password', id='ourid', placeholder='Input something')
        input(type='submit', value='Our value')

      